<!--  Dark background, padding of 3 along Y-axis
 and auto top margin to accomodate view height of main block -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy;YelpCamp 2022</span>
    </div>
</footer>