<% layout('layouts/boilerplate.ejs') %>
    <h1>
        <%= campground.title %>
    </h1>
    <h3>
        <%= campground.location %>
    </h3>
    <div>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit/Update details</a>
    </div>
    <div>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button>DELETE!</button>
        </form>
    </div>
    <footer>
        <a href="/campgrounds">Go to index</a>
    </footer>