<% layout('layouts/boilerplate') %>
    <h1>Login</h1>
    <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="form-label" for="title">Username</label>
            <input class="form-control" type="text" id="Username" name="username" required>

            <div class="invalid-feedback">
                Please provide a valid username
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="title">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>

            <div class="invalid-feedback">
                Please provide a valid password
            </div>
        </div>

        <div class="mb-3">
            <button id="submit" class="btn btn-success">Login</button>
        </div>
    </form>