<% layout('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row flex-fill">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1626829282200-83d4ddc82782?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
                        alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Sign Up</h5>
                        <form action="/signup" method="post" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="title">Username</label>
                                <input class="form-control" type="text" id="Username" name="username" autofocus
                                    required>

                                <div class="invalid-feedback">
                                    Please provide a valid username
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="title">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>

                                <div class="invalid-feedback">
                                    Please provide a valid email
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="title">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>

                                <div class="invalid-feedback">
                                    Please provide a valid password
                                </div>
                            </div>
                            <span id="wrong_pass_alert"></span>
                            <div class="mb-3">
                                <label class="form-label" for="title">Confirm password</label>
                                <input class="form-control" type="password" id="confirm_pass" name="confirm_pass"
                                    required onkeyup="validate_password()">

                                <div id="feedback" class="invalid-feedback">
                                    Passwords should match
                                </div>
                            </div>


                            <div class="mb-3">
                                <div class="d-grid">
                                    <button id="submit" class="btn btn-success">Register @ YelpCamp</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        function validate_password() {


            let pass = document.getElementById('password').value;
            let confirm_pass = document.getElementById('confirm_pass').value;
            if (pass != confirm_pass) {
                document.getElementById('wrong_pass_alert').style.color = 'red';
                document.getElementById('wrong_pass_alert').innerHTML
                    = '☒ Use same password';
                document.getElementById('submit').disabled = true;
                document.getElementById('submit').style.opacity = (0.4);
            } else {
                document.getElementById('wrong_pass_alert').style.color = 'green';
                document.getElementById('wrong_pass_alert').innerHTML =
                    '🗹 Password Matched';
                document.getElementById('submit').disabled = false;
                document.getElementById('submit').style.opacity = (1);
            }

        }
    </script>